/* * {
    border: solid black 2px;
} */

body {
    margin: 0px;
}



h1 {
    text-align: center;
    background-color: rgb(131, 179, 131);
    align-items: end;
    width: 100%;
    height: 100px;
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    padding: 50px 0px 0px 0px;
    
}
#textbox {
    font-family: 'Comfortaa', cursive;
    background-color: antiquewhite;
    height: 25px;
    width: 300px;
    border-radius: 10px;
    text-transform: capitalize;
}

#container {
    height: 700px;
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.box {
    height: 550px;
    width: 200px;
    /* background-color: blueviolet; */
    margin: 10px;
    /* border: 2px solid black; */
}

#search {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(131, 179, 131);
    border-radius: 25px;
    border: solid;
}

#search h2 {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

#searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.prevSearch {
    height: 50px;
    width: 90%;
    background-color: rgb(17, 65, 17);
    border: 2px solid black;
    border-radius: 20px;
    color: antiquewhite;
    padding-bottom: 15px;
    margin: 5px;
}

.prevSearch:hover {
    background-color: rgb(168, 223, 168);
    color: rgb(17, 65, 17);
    cursor: pointer;
    transition-duration: 0.4s;
}

button {
    font-family: 'Comfortaa', cursive;
    color: antiquewhite;
    height: 35px;
    width: 50%;
    align-self: center;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(17, 65, 17);
}

button:hover {
    background-color: rgb(168, 223, 168);
    cursor: pointer;
    color: rgb(17, 65, 17);
    transition-duration: 0.4s;
}

input {
    align-self: center;
}

#bigbox {
    display: flex;
    flex-direction: column;
    width: 75%;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

#top {
  width: 95%;
  font-size: larger;
  border: 2px solid rgb(144, 187, 140);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgb(168, 223, 168);
  background-color: antiquewhite;
}

#bottom {
    display: flex;
    justify-content: space-around;
   width: 95%;
}


.babyboxes {
    height: 250px;
    width: 200px;
    background-color: rgb(144, 187, 140);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(168, 223, 168);
    padding: 20px;
    font-size: larger;
    font-weight: 400;
}